aniso8601==7.0.0
asn1crypto==0.24.0
blocksat-api==0.0.1
git+https://github.com/willcl-ark/blockstream_blocksat.git#egg=blocksat_api
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
docopt==0.6.2
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
goTenna==0.12.5
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
-e git+https://github.com/willcl-ark/lntenna-python.git@a1156c5791f4217a9e42a69ad2050a50beed076c#egg=lntenna_python
MarkupSafe==1.1.1
pycparser==2.19
pyserial==3.4
pytz==2019.2
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.6
git+https://github.com/willcl-ark/submarine_swaps.git#egg=submarine_api
urllib3==1.25.3
Werkzeug==0.15.5
